<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Camera settings -->
  <arg name="mxId" default="" />
  <arg name="usb2Mode" default="false" />
  <arg name="poeMode" default="false" />
  <arg name="camera_model" default="OAK-D" />
  <arg name="tf_prefix" default="oak" />
  <arg name="mode" default="depth" />
  <arg name="base_frame" default="oak-d_frame" />
  <arg name="parent_frame" default="oak-d-base-frame" />
  <arg name="imuMode" default="1" /> <!-- 0=COPY, 1=GYRO INTERP, 2=ACCEL INTERP -->

  <!-- Positie camera t.o.v. robotbasis -->
  <arg name="cam_pos_x" default="0.25" />
  <arg name="cam_pos_y" default="0.0" />
  <arg name="cam_pos_z" default="0.5" />
  <arg name="cam_roll"  default="0.0" />
  <arg name="cam_pitch" default="0.0" />
  <arg name="cam_yaw"   default="0.0" />

  <!-- Depth instellingen -->
  <arg name="lrcheck" default="true" />
  <arg name="extended" default="false" />
  <arg name="subpixel" default="true" />
  <arg name="rectify" default="true" />
  <arg name="depth_aligned" default="true" />

  <!-- Belichting -->
  <arg name="manualExposure" default="false" />
  <arg name="expTime" default="20000" />
  <arg name="sensIso" default="800" />

  <!-- Stereo/depth kwaliteit -->
  <arg name="stereo_fps" default="15" />
  <arg name="confidence" default="200" />
  <arg name="LRchecktresh" default="5" />
  <arg name="monoResolution" default="400p" />

  <!-- RGB camera output -->
  <arg name="rgbResolution" default="1080p" />
  <arg name="rgbScaleNumerator" default="2" />
  <arg name="rgbScaleDinominator" default="3" />
  <arg name="previewWidth" default="640" />
  <arg name="previewHeight" default="640" />

  <!-- IMU ruisinstellingen -->
  <arg name="angularVelCovariance" default="0" />
  <arg name="linearAccelCovariance" default="0" />

  <!-- IR projector/LED -->
  <arg name="enableDotProjector" default="false" />
  <arg name="enableFloodLight" default="false" />
  <arg name="dotProjectormA" default="200.0" />
  <arg name="floodLightmA" default="200.0" />

  <!-- Visualisatie -->
  <arg name="enableRviz" default="true" />

  <!-- Neural Network instellen -->
  <arg name="enableNeuralNetworkDetection" default="true" />
  <arg name="yoloPyTorch" default="true" />

  <!-- PyTorch model -->
  <arg name="nnName"   default="newdataset_openvino_2022.1_6shave.blob" if="$(eval arg('yoloPyTorch') == true)" />
  <arg name="nnConfig" default="newdataset.json"                         if="$(eval arg('yoloPyTorch') == true)" />

  <!-- Roboflow model -->
  <arg name="nnName"   default="simplefruits_V1.blob" unless="$(eval arg('yoloPyTorch') == true)" />
  <arg name="nnConfig" default="simplefruits_V1.txt"  unless="$(eval arg('yoloPyTorch') == true)" />

  <!-- Pad naar modellen -->
  <arg name="resourceBaseFolder" default="$(find my_depthai)/resources" />
  <arg name="confidenceThreshold" default="0.5" />
  <arg name="overlapThreshold" default="0.3" />
  <arg name="boxNeighbors" default="1" />

  <!-- TF voor camera in URDF -->
  <include file="$(find my_depthai)/launch/urdf_ex.launch">
    <arg name="base_frame" value="$(arg base_frame)" />
    <arg name="parent_frame" value="$(arg parent_frame)" />
    <arg name="camera_model" value="$(arg camera_model)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="cam_pos_x" value="$(arg cam_pos_x)" />
    <arg name="cam_pos_y" value="$(arg cam_pos_y)" />
    <arg name="cam_pos_z" value="$(arg cam_pos_z)" />
    <arg name="cam_roll"  value="$(arg cam_roll)" />
    <arg name="cam_pitch" value="$(arg cam_pitch)" />
    <arg name="cam_yaw"   value="$(arg cam_yaw)" />
  </include>

  <!-- Camera TF naar wereld -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="oak_broadcaster"
        args="0 0 0 0 0 0 1 world oak-d-base-frame" />

  <!-- DepthAI node -->
  <node name="stereo_inertial_nn_publisher" pkg="my_depthai" type="stereo_inertial_nn_node" output="screen" required="true">
    <param name="mxId" value="$(arg mxId)" />
    <param name="usb2Mode" value="$(arg usb2Mode)" />
    <param name="poeMode" value="$(arg poeMode)" />
    <param name="tf_prefix" value="$(arg tf_prefix)" />
    <param name="mode" value="$(arg mode)" />
    <param name="imuMode" value="$(arg imuMode)" />
    <param name="lrcheck" value="$(arg lrcheck)" />
    <param name="extended" value="$(arg extended)" />
    <param name="subpixel" value="$(arg subpixel)" />
    <param name="rectify" value="$(arg rectify)" />
    <param name="manualExposure" value="$(arg manualExposure)" />
    <param name="expTime" value="$(arg expTime)" />
    <param name="sensIso" value="$(arg sensIso)" />
    <param name="stereo_fps" value="$(arg stereo_fps)" />
    <param name="confidence" value="$(arg confidence)" />
    <param name="LRchecktresh" value="$(arg LRchecktresh)" />
    <param name="monoResolution" value="$(arg monoResolution)" />
    <param name="rgbResolution" value="$(arg rgbResolution)" />
    <param name="rgbScaleNumerator" value="$(arg rgbScaleNumerator)" />
    <param name="rgbScaleDinominator" value="$(arg rgbScaleDinominator)" />
    <param name="previewWidth" value="$(arg previewWidth)" />
    <param name="previewHeight" value="$(arg previewHeight)" />
    <param name="angularVelCovariance" value="$(arg angularVelCovariance)" />
    <param name="linearAccelCovariance" value="$(arg linearAccelCovariance)" />
    <param name="enableDotProjector" value="$(arg enableDotProjector)" />
    <param name="enableFloodLight" value="$(arg enableFloodLight)" />
    <param name="dotProjectormA" value="$(arg dotProjectormA)" />
    <param name="floodLightmA" value="$(arg floodLightmA)" />
    <param name="enableNeuralNetworkDetection" value="$(arg enableNeuralNetworkDetection)" />
    <param name="nnName" value="$(arg nnName)" />
    <param name="nnConfig" value="$(arg nnConfig)" />
    <param name="resourceBaseFolder" value="$(arg resourceBaseFolder)" />
    <param name="confidenceThreshold" value="$(arg confidenceThreshold)" />
    <param name="overlapThreshold" value="$(arg overlapThreshold)" />
    <param name="boxNeighbors" value="$(arg boxNeighbors)" />
  </node>

  <!-- Nodelet manager en converters -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="depth_image_convertion_nodelet"
        args="load depth_image_proc/convert_metric nodelet_manager">
    <remap from="image_raw" to="/stereo_inertial_nn_publisher/stereo/depth" />
    <remap from="image" to="/stereo_inertial_nn_publisher/stereo/image" />
  </node>
  <node pkg="nodelet" type="nodelet" name="depth_image_to_rgb_pointcloud"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
    <param name="queue_size" value="10" />
    <remap from="rgb/camera_info" to="/stereo_inertial_nn_publisher/color/camera_info" />
    <remap from="rgb/image_rect_color" to="/stereo_inertial_nn_publisher/color/image" />
    <remap from="depth_registered/image_rect" to="/stereo_inertial_nn_publisher/stereo/image" />
    <remap from="depth_registered/points" to="/stereo_inertial_nn_publisher/stereo/points" />
  </node>

  <!-- Rviz visualisatie -->
  <group if="$(eval arg('enableRviz') == true)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_depthai)/rviz/nn_detector.rviz" />
  </group>

  <!-- Eigen nodes -->
  <node pkg="my_depthai" type="publisch_bouding_boxes.py" name="publisch_bouding_boxes" output="screen">
    <param name="nnConfig" value="$(arg nnConfig)" />
    <param name="resourceBaseFolder" value="$(arg resourceBaseFolder)" />
    <remap from="image_in" to="/stereo_inertial_nn_publisher/color/image" />
    <remap from="image_out" to="/stereo_inertial_nn_publisher/color/detections_image" />
    <remap from="detections" to="/stereo_inertial_nn_publisher/color/detections" />
  </node>

  <node pkg="my_depthai" type="publisch_tf.py" name="publisch_tf" ns="publisch_tf" output="screen">
    <param name="nnConfig" value="$(arg nnConfig)" />
    <param name="resourceBaseFolder" value="$(arg resourceBaseFolder)" />
    <remap from="detections" to="/stereo_inertial_nn_publisher/color/detections" />
  </node>

  <node pkg="my_depthai" type="workspace_from_markers.py" name="workspace_from_markers" output="screen">
    <remap from="image_in" to="/stereo_inertial_nn_publisher/color/image" />
    <remap from="image_markers_out" to="/stereo_inertial_nn_publisher/color/image_markers" />
    <remap from="image_workspace_out" to="/stereo_inertial_nn_publisher/color/image_workspace" />
  </node>

  <node pkg="my_depthai" type="transform_pose_listener.py" name="pose_transform_listener" output="screen" />
  <node pkg="my_depthai" type="publish_transformed_pose.py" name="kwast_pose_transformer" output="screen" />

</launch>